# Variables d'environnement pour nao sync
# Copier vers .env et renseigner les valeurs (ne pas committer .env)

POSTGRES_HOST=localhost
POSTGRES_DB=inclusion_numerique
NAO_READONLY_USER=nao_readonly
NAO_READONLY_PASSWORD=CHANGE_ME
