# Variables d'environnement pour nao sync
# Copier vers .env et renseigner les valeurs (ne pas committer .env)

NAO_DB_HOST=localhost
NAO_DB_NAME=inclusion_numerique
NAO_DB_USER=nao_ro
NAO_DB_PASSWORD=CHANGE_ME
